body {  
    background-color: #fff;
    color: #333;
    margin: 0;
    font-size: 18px;
    line-height: 1.2; 
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    font-weight: bold;

  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .feature {
    float: left;
    margin-right: 20px; 
    width: 200px;
    height: auto;
  }

  .photography-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.photo-grid {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.photo-grid img {
    width: 100px;
    height: auto;
}

.content-container {
    max-width: 720px; 
    margin: 10 auto; 
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px; 
    margin: 0 auto;
    padding: 0 20px;
    max-width: 990px;
    align-items: start; 
}

.photos {
    display: grid;
    grid-template-columns: repeat(2, 110px); 
    gap: 1px; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.photos img {
    width: 100%; 
    height: auto;
    display: block;
}

  
  
